@import "../../styles/baseline.scss";

.main {
    width: 100%;
    padding: 60px 0px;
    background: #131313;

    &__container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 140px;
        width: 1200px;
    }

    &__section {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 40px;
    }

    &__context {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
    }

    &__heading {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    &__instructions {
        opacity: 0.6;
        margin-right: 6px;
    }

    &__help {
        width: 16px;
        height: 16px;
        opacity: 0.4;
        align-self: center;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
}