@import "../../styles/baseline.scss";

.main {
    width: 100%;
    padding: 60px 0px;
    background: #131313;

    &__container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 140px;
        width: 1200px;
    }

    &__section {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 40px;
    }

    &__heading {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    &__instructions {
        margin-top: 15px;
        opacity: 0.6;
    }
}