// Headers
@font-face {
    font-family: Montserrat-Regular;
    src: url("https://fonts.googleapis.com/css2?family=Montserrat");
    font-display: swap;
}


// Body
@font-face {
    font-family: Open-Regular;
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans');
    font-display: swap;
}

// Special
@font-face {
    font-family: Parisienne;
    src: url('https://fonts.googleapis.com/css2?family=Parisienne');
    font-display: swap;
}