@import "../../styles/baseline.scss";

.nominate {
    border: none;
    background-color: white;
    border-radius: 2px;
    padding: 0.5rem 1rem;
    height: 36px;
    width: 110px;

    &:disabled {
        background-color: rgba(255, 255, 255, 0.3);
    }

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    &__label {
        color: black;
    }
}