@import "../../styles/baseline.scss";

.result {
    margin: 0;
    display: flex;
    flex-direction: row;

    &__title {
        margin-right: 4px;
    }

    &__year {
        margin-right: 4px;
    }
}