@import "../../styles/baseline.scss";

.result {
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    &__details {
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    &__title {
        margin-right: 4px;
        width: 100%;
        font-weight: bold;
    }

    &__year {
        margin-right: 4px;
        width: 100%;
        opacity: 0.6;
    }
}