@import "../../styles/baseline.scss";

.nominee {
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background: #1C1C1E;
    border-radius: 8px;
    width: 224px;
    height: 348px;

    &:hover > div {
        opacity: 1;
    }

    &__preview {
        box-shadow: rgb(255, 255, 255) 0px 20px 30px;
        border-radius: 8px;
        width: 224px;
        height: 348px;
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        border-radius: 8px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1));
        overflow: hidden;
    }

    &__title {
        width: 100%;
        font-weight: bold;

        &--main {
            margin-left: 8px;
        }

        &--placeholder {
            margin-bottom: 2px;
            margin-top: 20px;
        }
    }

    &__year {
        width: 100%;
        opacity: 0.6;

        &--main {
            margin-left: 8px;
            margin-bottom: 8px;
        }

        &--placeholder {
            margin-bottom: 20px;
        }
    }

    &__icon {
        height: 200px;
        opacity: 0.4;
    }

    &__placeholder {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 2rem;

        &:hover > span {
            opacity: 0;
        }
    }
}