@import "../../styles/baseline.scss";

.movie {
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.5rem;
    background: rgba(255, 255, 255, 0);
    transition: all 0.2s ease-in-out;

    &:first-of-type() {
        padding: 1rem 1.5rem 0.75rem 1.5rem;
    }

    &:hover {
        background: rgba(255, 255, 255, 0.05);
    }

    &__listing {
        display: flex;
        flex-direction: row;
        width: 65%;
    }

    &__details{
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: auto 0;
    }

    &__title {
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.4rem;
    }

    &__year {
        opacity: 0.6;
        font-size: 1rem;
        line-height: 1.4rem;
    }

    &__preview {
        height: 60px;
        width: 40px;
        margin-right: 1rem;
    }

    &__placeholder {
        height: 60px;
        width: 40px;
        padding: 0.25rem;
        margin-right: 1rem;
        border: 0.25px solid white;
        opacity: 0.2;
        border-radius: 2px;
    }
}