@import "../../styles/baseline.scss";

.banner {

    //box-shadow: rgba(255, 255, 255, 0.445) 20px 20px 30px;

    &__container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 1000px;
    }

    &--active {
        position: fixed;
        z-index: 900;
        top: 0;
        left: 0;
        width: 100vw;
        height: 60px;
        display: flex;
        flex-direction: row;
        background: #FF2A53;
    }

    &--inactive {
        display: none;
    }
}