@import "../../styles/baseline.scss";

.banner {
    position: fixed;
    z-index: 2000;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 160px;
    display: flex;
    flex-direction: column;
    background: #FF2A53;

    &__container {
        display: flex;
        flex-direction: row;
        width: 1000px;
        padding: 2rem;
        margin: 0 auto;
        justify-content: space-between;
    }

    &__message {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__header {
        margin-bottom: 10px;
    }

    &__details {
        width: 80%;
    }

    &__close {
        width: 160px;
        height: 44px;
        display: flex;
        align-self: center;
        border: none;
        border-radius: 2px;
        padding: 0.25rem 2rem;
        font-size: 1.15rem;
        line-height: 2.2rem;
    }
}