@import "../../styles/baseline.scss";

.banner {

    //box-shadow: rgba(255, 255, 255, 0.445) 20px 20px 30px;

    &__container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 1000px;
    }

    &--active {
        position: fixed;
        z-index: 900;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 160px;
        display: flex;
        flex-direction: row;
        background: #FF2A53;
        animation: Notify 1s ease;

        @keyframes Notify {
            from {
              transform: height(0px);
            }
            to {
              transform: height(60px);
            }
        }
    }

    &--inactive {
        display: none;
    }
}